{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <link type='text/css' href='{% static "css/home.css" %}' rel='stylesheet' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RALP </title>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <link rel="icon" href='{% static "imagenes/Ralp.png" %}' type="image/png">

</head>

<body>
    
    <img class="background-image" src='{% static "imagenes/imagen4.jpg" %}' alt="Imagen de fondo">
    <section id="pdf-section" class="pdfsec">
        <img src='{% static "imagenes/Ralp.png" %}' alt="" width="150px" style="padding: -20px; margin: -30px;">
        <h2>Subir PDF y Visualizar</h2>
        <form id="pdf-form" action="/pdf" method="POST" enctype="multipart/form-data">
            <input type="file" name="archivos[]" multiple >
            <!-- <button  >Cargar archivo</button> -->
            <button type="submit" id="cargarArchivo" class="button1" style="margin-top: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 3H12H8C6.34315 3 5 4.34315 5 6V18C5 19.6569 6.34315 21 8 21H11M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V11.8125" stroke="#fffffff" stroke-width="2"></path>
              <path d="M17 15V18M17 21V18M17 18H14M17 18H20" stroke="#fffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              CARGAR ARCHIVO 
              </button>
              
            <div id="preloader" style="display: none;">
                <img src='{% static "imagenes/cargando.gif" %}' width="120px" style="padding: -10px;" alt="Cargando...">
            </div>            
            <!-- <button >Cargar archivo</button> -->
        </form>
        <!-- <button class="button1" style="margin-top: 10px; margin-left: 60px;">
            CARGAR PDFS DE SHAREOPINT
        </button> -->
    </section>
    
    <section id="chat-section" class="chatbot">
        <div id="chat-container" style="display: contents;">
            <div id="chatbox"></div>
            <div id="userInput-container" style="position: relative;">
                <input id="userInput" type="text" placeholder="Escribe un mensaje...">
                <button id="sendButton" onclick="sendMessage()"> <span>Enviar</span></button>
                <div id="preloader2" style="display: none; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
                    <img src='{% static "imagenes/cargando.gif" %}' width="200px" alt="Cargando...">
                </div>
            </div>
        </div>
    </section>

    <button > <a href="lista_pdf" style="text-decoration: none; color: white;">Inicio</a></button>

    <script>
        window.onload = function () {
            // Agrega un mensaje de bienvenida del chatbot
            addBotMessage("Hola, soy tu chatbot personal Ralph");
        }

        function addBotMessage(message) {
            const chatbox = document.getElementById('chatbox');
            const botMessage = '<div class="message-container" ><div class="bot-message">' + message + '</div></div>';
            chatbox.innerHTML += botMessage;
            chatbox.scrollTop = chatbox.scrollHeight;
        }

        function archivoCargado() {
            alert("Archivo cargado con éxito.");
        }
        async function sendMessage() {
            const userInput = document.getElementById('userInput');
            const message = userInput.value;

            if (message.trim() === "") {
                return;
            }

            const chatbox = document.getElementById('chatbox');
            const userMessage = '<div class="message-container"><div class="user-message">' + message + '</div></div>';
            chatbox.innerHTML += userMessage;

            try {
                const response = await fetch('/index', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        // 'X-CSRFToken': getCookie('csrftoken')  // Asegúrate de tener una función para obtener la cookie CSRF
                    },
                    body: 'message=' + encodeURIComponent(message)
                });

                const botMessage = await response.text();
                const botMessageDiv = '<div class="message-container"><div class="bot-message">' + botMessage + '</div></div>';
                chatbox.innerHTML += botMessageDiv;
                chatbox.scrollTop = chatbox.scrollHeight;
            } catch (error) {
                console.error('Error al enviar mensaje:', error);
            }

            userInput.value = "";
        }


        function addMessage(sender, message) {
            // Función para agregar mensajes al chatbox
            $("#chatbox").append("<p><strong>" + sender + ":</strong> " + message + "</p>");
        }


        // Preloader de cargar Archivo
        document.getElementById('cargarArchivo').addEventListener('click', function() {
            // Muestra el preloader
            document.getElementById('preloader').style.display = 'block';

            // Oculta el preloader después de 2 segundos
            setTimeout(function() {
                document.getElementById('preloader').style.display = 'none';
            }, 7000);
        });
    </script>


</body>

</html>